*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*  Google Fonts Style

font-family: 'Lobster', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Rubik', sans-serif;
*/

.navbar-brand{
    font-size: 4rem;
    color:black;
    font-family: 'Lobster', cursive;
}

.navbar-brand:hover{
    color:black;
}

#nav-link{
    margin-right: 10px;
    margin-left: 10px;
    color: black;
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
}
#nav-link:hover{
    color: black;
}

.search{
   text-align: center;
   height: 40px;
   width: 80%;
   border-radius:60px;
   outline:none;
   margin-right:-35px;
   font-family: 'Rubik', sans-serif;
   border: 2px solid rgba(248,26,92);
}
.btn0{
    height: 40px;
    width: 40%;
    outline: none;
    border: none;
    background: rgba(248,26,92);
    color: white;
    border-radius:60px;
    font-weight: 700;
}

.main{
    background:url(../img/slider_1.jpg)no-repeat;
    background-size:cover;
    height:100vh;
    background-position:50% 50%;
    width:100%;

}

.main h1{
    font-size: 4rem;
    font-weight:700;
    font-family:'robot';
}
.btn1{
    height: 45px;
    width: 35%;
    border: none;
    border-radius:60px;
    outline:none;
    background-color: rgba(248,26,92);
    color: white;
    font-weight: 700;
}
.btn1:hover{
    background-color: rgba(223,15,77);
    transition: 0.5s;
}
h1{
    font-weight: 7000;
}
.app{
    background: url(../img/slider_2.jpg) no-repeat;
    background-size: cover;
    height:30vh;
    width:100%;
}

.app h1{
    font-family: 'Lobster', cursive;
}